.users{width: 100%;}

.users_header{
    display: grid;
    grid-template-columns: 4fr 8fr;
    align-items: center;
}

.pagination span{cursor: pointer; margin-right: 5px;}
.pagination span:hover{color: aqua;}

.active{font-weight: bold;}

img{width: 75px;}
.user_element{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 10fr;
    grid-gap: 10px;

    margin-bottom: 21px;
    padding: 5px;
    border: 1px solid green;
    border-radius: 5px;
    text-align: center;
    box-shadow: 7px 7px 10px;
    box-shadow: 7px 7px 12px rgb(0 0 0 / 10%);
}
.left_side{
    padding: 5px;
    border: 0.01rem solid lightgray;
    border-radius: 4px;
}
.rigth_side{
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-gap: 5px;
    text-align: left;
}
