.app__header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 10fr;
  
    padding: 10px;
    background-color: #282c34;
    text-align: center;
    align-items: center;
    color: white;
  }
    .header___img{
      height: 100%;
      width: auto;
    }
      .header___title p{
        font-size: 21px; margin: 0;
      }
        .header___title P span{
          font-size: 16px;
        }
  