.app__main {
    grid-area: content;
    display: grid;
  
    padding: 10px;
    background-color: #fff;
    color: #282c34;
  }
    .main___header img{
      width: 100%;
      height: 200px;
    }
  
    .content___profile {
      display: grid;
      grid-template-columns: 2fr 10fr;
    }
        .table__row {
          display: grid;
          grid-template-columns: 3fr 9fr;
          grid-gap: 5px;
        }
  
          .table__name{
            font-weight: 600;
          }
  
      .content___articles .article {
        clear: both;
        padding: 10px;
        background: beige;
        margin-bottom: 10px;
      }
        .article .ava {
          width: 40px;
          height: 40px;
          background-color: brown;
          border-radius: 10em;
          float: left;
          margin-right: 10px;
          text-align: center;
          color: white;
          font-size: 28px;
        }
  