
.app_sidebar {
    grid-area: sidebar;
    display: grid;

    padding: 10px;
    background-color: darkcyan;
}
.app_sidebar a{
    color: #fff;
    text-decoration: none;
}

nav > div {padding: 1px;}
  