.app_wrapper {
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
    "header header"
    "sidebar content"
    "footer footer";
  min-height: 100vh;
}

a:hover{color: blue !important; font-size: 17px !important; animation:2s ease !important;}

.app_pages{
  padding: 21px;
}

@media (prefers-reduced-motion: no-preference) {
  .app__logo {
    animation: app__logo-spin infinite 20s linear;
  }
}

@keyframes app__logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
